<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">

</head>
<body>
   <div class="indexbannerdiv">
   </div>
   <div class="navtop">
       
       <div class="logodiv">
           <img class="logo" src="img/logo.png" alt="">
       </div>

       <div class="navtopfull">
        <div class="navtopleft">
            <ul class="navtoplist">
                <li ><a class="navtoplistitem" href="#">Art</a> </li>
          
           
             <li><a class="navtoplistitem" href="#">Photography</a> </li>
     
             <li><a class="navtoplistitem" href="#">Animals</a> </li>
         
             <li><a class="navtoplistitem" href="#">Funny</a> </li>
             <li><a class="navtoplistitem" href="#">More</a> </li>

         </ul>
           </div>
    
           <div class="navtopright">
               <ul class="navtoplist btnnav">
                   <li  class="navtoplist" >
                       <a href="#" class="navtoplistitem btn uploadbtn">
                         <div class="btndiv">
                            <img class="uploadimg" src="img/upload.svg" alt="">
                            <span> Add post</span>
                         </div></a>
                   </li>
                   <li  class="navtoplist" >
                    <a href="#" class="navtoplistitem btn loginbtn">
                      <div class="btndiv">
                      
                         <span>Login/Register</span>
                      </div></a>
                </li>
               </ul>
           </div>
       </div>

   </div>

   <div class="navbottom"></div>
</body>
</html>