<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/bdf4e7606c.js" crossorigin="anonymous"></script>

</head>
<body>
   <div class="indexbannerdiv">
   </div>
   <div class="navtop">
       
       <div class="logodiv">
           <img class="logo" src="img/logo.png" alt="">
       </div>

       <div class="navtopfull">
        <div class="navtopleft">
            <ul class="navtoplist">
                <li ><a class="navtoplistitem" href="#">Art</a> </li>
          
           
             <li><a class="navtoplistitem" href="#">Photography</a> </li>
     
             <li><a class="navtoplistitem" href="#">Animals</a> </li>
         
             <li><a class="navtoplistitem" href="#">Funny</a> </li>
             <li><a class="navtoplistitem" href="#">More</a> </li>

         </ul>
           </div>
    
           <div class="navtopright">
               <ul class="navtoplist btnnav">
                   <li  class="navtoplist" >
                       <a href="#" class="navtoplistitem btn uploadbtn">
                         <div class="btndiv">
                            <img class="uploadimg" src="img/upload.svg" alt="">
                            <span> Add post</span>
                         </div></a>
                   </li>
                   <li  class="navtoplist" >
                    <a href="#" class="navtoplistitem btn loginbtn">
                      <div class="btndiv">
                      
                         <span>Login/Register</span>
                      </div></a>
                </li>
               </ul>
           </div>
       </div>

   </div>

   <div class="navbottom">
       <ul class="navbottomlist"><li class="navbotomlist">
           <a class="navbottomlistitem" href="#">Featured</a>
       </li>
       <li>
        <a class="navbottomlistitem" href="#">Trending</a>
    </li>
    <li>
        <a class="navbottomlistitem" href="#">Latest</a>
    </li>
    <li>
        <a class="navbottomlistitem" href="#">Newsletter</a>
    </li>
    
    </ul>




   </div>
   <div class="posts-div">

       <%  for(let i=0;i < posts.length;i++){ %>
      
        <div class="posts-card">
            <% let currentposturl=posts[i].thumburl  %>
         <div style="background-image:url( <%= currentposturl   %>);" class="thumbnail"> 

         </div>
        <div class="post-content">
            
            <h1><%= posts[i].title %></h1>
         
            <span>NATURE</span>
            <p><%= posts[i].content %></p>
        </div>
        <hr>
        <div class="reach-details">
<div class="social">
    <a class="sharebtn" href="#">
      
        <i class="fa-brands fa-facebook-square fbicon"></i>
        <span>Share</span>
    </a>
     <i class="fa-solid fa-comments commenticon"></i> 
    
    
</div>
<div class="upvotes-div">
    <i class="fa-solid fa-circle-up voteicon"></i>
    <i class="fa-solid fa-circle-down voteicon"></i>
<span class="votecount"><%= posts[i].upvotes %></span>
</div>
        </div>
        </div>

     <%  } %>
     
   </div>
</body>
</html>