@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

body{
    background-color: #F0F0F0;
    font-family: 'Merriweather', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.indexbannerdiv{
    height: 200px;
    width: 100%;
background-size: cover;

 
    background-image: url("../img/indexbanner.jpg");
}

.navtop{
    display: flex;
  justify-content: center;
  height: 60px;
  padding: 28px;
  background-color: white;

  align-items: center;



}
.thumbnail{
    height:370px;
background-image: url(https://pixabay.com/get/g3316e1d74c8aa4aecc8e7c8d5e2e62d0a8ad73d02d01b5c1765b8ba8cefeb4cfb3e4a65e4d2278bf52df771a2e3e654dbcff944a4f248b76eb5a8e6f336c55e1_640.jpg);
background-size: cover;
background-position: center;
    width: 100%;
   


}
.navtopright{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.voteicon{
    font-size: 35px;
    color: grey;
  
}
.reach-details{
    
   display: flex;


    height: 50px;
 

}
.btn{
    background-color: red;
    padding: 10px;
border-radius: 5px;
width: 120px;
height: 40px;
}
hr{
 color: #eee;
}
.upvotes-div{
    height: 100%;
    width: 23%;
    display: flex;
    align-items: center;
    
    justify-content: center;
    gap: 10px;

  
    border: 1px solid #eee;

    border-right: 0px;
    border-top:0px;
    border-bottom: 0px;

}
.commenticon{
    font-size: 35px;
    color: grey;

}
.fbicon{
    font-size: 20px;
    
}
.votecount{
    color: grey;
}
.sharebtn{
    background-color:#3B5998 ;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
}
.social{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 370px;
    height: 100%;
    
    width: 77%;
   
}

.btn.uploadbtn:hover{
    background-color: rgb(255, 130, 0);
}
.btn.loginbtn{
    width: 150px;
    
}
.logodiv{
    margin-right: 30px;
}
.navtoplist{
    display: flex;
list-style-type: none;

flex-direction: row;
gap: 37px;


}
li:nth-child(1) {
    list-style-type: none; 
 }
.navbottomlist{
    display: flex;
    color: #555454;;

}
.navtoplist.btnnav{

gap: 20px;


}
.uploadimg{
    height: 15px;
    fill: white;

}
.navtopfull{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 100px;
    margin-top: 8px;

}

.btndiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;

}


.navtoplistitem{
    text-decoration: none;
    color: #353535;
    font-size: 16px;
font-weight: 500;

font-family: 'Roboto', sans-serif;

}
.navbottomlistitem{
    text-decoration: none;
    color: white;
    font-size: 14px;
font-weight: 500;

font-family: 'Roboto', sans-serif;
}

.posts-div{
    display: flex;
 flex-direction: column;
 align-items: center;
}

.post-content {
    gap: 15px;
display: flex;
margin-top: 0;
flex-direction: column;
justify-content: space-between;

padding: 25px;
margin: none;



   
}
.post-content span{
    color: #d74b1f;
    font-size: 13px;
}
.post-content h1{
    font-size: 32px;
    
}
.post-content p{
color: rgb(102, 102, 102);
}

.posts-card{
  display: flex;
  flex-direction: column;

justify-content: space-between;
    height: fit-content;
    width: 700px;
 
    font-family: Arial, Helvetica, sans-serif;
    
    
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;

}
.navbottom{
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #353535;
  
    
}

.navbottomlist{
    display: flex;
    gap: 48px;
   
   
  
}
